.header {
	background-image:url('http://www.newdesignfile.com/postpic/2009/12/free-vector-vintage-pattern_29988.jpg');
	height:300px;
	width:100%;
	background-size:100%;
	background-position:center;
	background-repeat: no-repeat;
	margin-top:-20px;
}

body {
	margin: 0;
	padding: 0;
}

.logo {
	max-width: 160px;
	margin:0px auto;
	display:block;
	margin-top:-90px;
	border:5px dotted #98CACB;
	border-radius: 80px;
	margin-left:-5px;
}

.cincinnati {
	max-width:400px;
	
}

h2 {
	font-size:15px;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.callout {
	position:fixed;
	bottom:50px;
	right:90px;
	z-index:9999;
	width:250px;
}

.flowerLogo {
	max-width:80px;

}

span {
	margin-right:5px;
}

.rightOne {
	padding:0px 95px;
	
}

.middle {
	padding:1px;
	font-size: 11px;
}

.rightThree {
	padding:1px;
}

.leftTwo {
	font-size: 11px;
}

h1 {
	margin-top:75px;
	padding:0;
	font-family: 'Amaranth', sans-serif;
}

h3 {
	font-size:15px;	
	font-family: 'Amaranth', sans-serif;
}

h4 {
	font-size:11px;
	font-family: 'Amaranth', sans-serif;
}

h5 {
	font-family: 'Istok Web', sans-serif;
}

.blog {
	font-family: 'Amaranth', sans-serif;
}

